{% for message in messages %}
<script>
toastr.options = {
  "closeButton": true,
  "progressBar": true,
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
};

{% if message.tags == 'info' %}
toastr.info("{{ message }}");
{% endif %}

{% if message.tags == 'error' %}
toastr.error("{{ message }}");
{% endif %}

{% if message.tags == 'success' %}
toastr.success("{{ message }}");
{% endif %}

{% if message.tags == 'warning' %}
toastr.warning("{{ message }}");
{% endif %}
</script>
{% endfor %}
