{% load static %}


<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- User Profile -->
    <a href="{% url 'user_profile' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-light text-decoration-none">
        <img class="rounded-pill img-fluid" id="sidebar-img" width="65" src="{{ request.user.profile.profile_picture.url }}" alt="">
    </a>
    <div class="ms-2">
        <h5 class="fs-6 mb-0 text-white">{{ user.username }}{% if user.profile.role == 'AD' %} <i class="fa-solid fa-circle-check"></i>{% endif %}</h5>
        <span class="badge badge-pill bg-soft-success text-success me-2">
            {% if user.profile.role == 'AD' %}
                Admin
            {% elif user.profile.role == 'EX' %}
                Executive
            {% else %}
                Operative
            {% endif %}
        </span>
    </div>
    <hr>

    <!-- Nav Items -->
    <ul class="nav nav-pills flex-column mb-auto text-center">
        <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link {% if active_pages.dashboard %}active{% endif %}" style="color: white;">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'products_list' %}" class="nav-link {% if active_pages.products_list %}active{% endif %}" style="color: white;">
                <i class="fas fa-fw fa-boxes"></i>
                <span>Products</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'sales_list' %}" class="nav-link {% if active_pages.sales_list %}active{% endif %}" style="color: white;">
                <i class="fas fa-fw fa-shopping-cart"></i>
                <span>Sales Orders</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'purchase_list' %}" class="nav-link {% if active_pages.purchase_list %}active{% endif %}" style="color: white;">
                <i class="fas fa-fw fa-receipt"></i>
                <span>Purchase Orders</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'deliveries' %}" class="nav-link {% if active_pages.deliveries %}active{% endif %}" style="color: white;">
                <i class="fas fa-fw fa-truck"></i>
                <span>Package</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'invoice_list' %}" class="nav-link {% if active_pages.invoice_list %}active{% endif %}" style="color: white;">
                <i class="fas fa-fw fa-file-invoice-dollar"></i>
                <span>Invoices</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'bill_list' %}" class="nav-link {% if active_pages.bill_list %}active{% endif %}" style="color: white;">
                <i class="fas fa-fw fa-file-invoice"></i>
                <span>Bills</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'vendor' %}" class="nav-link {% if active_pages.vendor %}active{% endif %}" style="color: white;">
                <i class="fas fa-fw fa-user-tie"></i>
                <span>Vendors</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'customer_list' %}" class="nav-link {% if active_pages.customer_list %}active{% endif %}" style="color: white;">
                <i class="fas fa-fw fa-users"></i>
                <span>Customers</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'profile_list' %}" class="nav-link {% if active_pages.profile_list %}active{% endif %}" style="color: white;">
                <i class="fas fa-fw fa-id-badge"></i>
                <span>Staff</span>
            </a>
        </li>
    </ul>
    <hr>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>