{% load static %}
{% load cart_template_tags %}

<!-- Main Navigation-->

{% include "header.html" %}

<!-- Categories Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
    <!-- Navbar brand -->
    <span class="navbar-brand">Categories:</span>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#categoriesNavbarContent" aria-controls="categoriesNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="categoriesNavbarContent">
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          {% for cat in categories %}
        <li class="nav-item">
          <a class="nav-link" href="{{ cat.get_absolute_url }}">{{ cat.title }}</a>
        </li>
          {% endfor %}
      </ul>
      <!-- Links -->
    </div>
    <!-- Collapsible content -->
</nav>
