{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load custom_filters %}

<main>
    <div class="container">
        {% include 'category.html' %}

        <!-- Section: Products -->
        <section class="py-5 text-center mb-4">
            <div class="container px-4 px-lg-5 mt-5">
                <!-- Grid row -->
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <!-- Static Products -->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image -->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Fancy Product" />
                            <!-- Product details -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name -->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price -->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions -->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge -->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image -->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Special Item" />
                            <!-- Product details -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name -->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price -->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions -->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Dynamic Products -->
                    {% for item in object_list %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            {% if item.on_sale %}
                            <!-- Sale badge -->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            {% endif %}
                            <!-- Product image -->
                            <a href="{% url 'product_detail' item.slug %}">
                                <img class="card-img-top" src="{{ item.item_image.url }}" alt="{{ item.name }}" width="240" height="240" />
                            </a>
                            <!-- Product details -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name -->
                                    <h5 class="fw-bolder">{{ item.name }}</h5>
                                    <!-- Product description -->
                                    <p>{{ item.description }}</p>
                                    <!-- Product reviews -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        {% for i in 5|to_range %}
                                            {% if i <= item.averagereview %}
                                                <div class="bi-star-fill"></div>
                                            {% else %}
                                                <div class="bi-star"></div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <!-- Product price -->
                                    {% if item.on_sale %}
                                    <span class="text-muted text-decoration-line-through">${{ item.original_price }}</span>
                                    ${{ item.sale_price }}
                                    {% else %}
                                    ${{ item.price }}
                                    {% endif %}
                                    <!-- Product variant -->
                                    <p>{{ item.variant }}</p>
                                </div>
                            </div>
                            <!-- Product actions -->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' item.slug %}">View</a>
                                    <a class="btn btn-outline-dark mt-auto" href="">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% if object_list.count == 0 %}
                    <div>
                        <h1 style="text-align: center;">No items found</h1>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <!-- Section: Products -->
    </div>
</main>

{% endblock %}
