{% extends 'main.html' %}

{% load static %}
 
{% include "navbar.html" %}

{% block title %}Product Detail{% endblock %}
{% comment %} 
{% block content %}

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.item_image.url }}" alt="{{ product.name }}" /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: {{ product.sku }}</div>
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-5">
                    {% if product.on_sale %}
                    <span class="text-decoration-line-through">${{ product.original_price }}</span>
                    <span>${{ product.sale_price }}</span>
                    {% else %}
                    <span>${{ product.price }}</span>
                    {% endif %}
                </div>
                <p class="lead">{{ product.description }}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <a class="btn btn-outline-dark mt-auto" href="">Add to cart</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for related_product in related_products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ related_product.item_image.url }}" alt="{{ related_product.name }}" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ related_product.name }}</h5>
                            <!-- Product price-->
                            {% if related_product.on_sale %}
                            <span class="text-decoration-line-through">${{ related_product.original_price }}</span>
                            <span>${{ related_product.sale_price }}</span>
                            {% else %}
                            <span>${{ related_product.price }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' related_product.slug %}">View</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %} {% endcomment %}



{% block content %}

<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygallery" class="rounded-4" target="_blank" data-type="image" href="{{ product.item_image.url }}">
                        <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{ product.item_image.url }}" />
                    </a>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="{{ product.item_image.url }}" class="item-thumb">
                      <img width="60" height="60" class="rounded-2" src="{{ product.item_image.url }}" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="{{ product.item_image.url }}" class="item-thumb">
                      <img width="60" height="60" class="rounded-2" src="{{ product.item_image.url }}" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="{{ product.item_image.url }}" class="item-thumb">
                      <img width="60" height="60" class="rounded-2" src="{{ product.item_image.url }}" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="{{ product.item_image.url }}" class="item-thumb">
                      <img width="60" height="60" class="rounded-2" src="{{ product.item_image.url }}" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="{{ product.item_image.url }}" class="item-thumb">
                      <img width="60" height="60" class="rounded-2" src="{{ product.item_image.url }}" />
                    </a>
                  </div>
                <!-- Additional images -->
                <!-- thumbs-wrap.// -->
                <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        {{ product.item_name }}
                    </h4>
                    <div class="d-flex flex-row my-3">
                        <!-- Star rating and orders -->
                        <div class="text-warning mb-1 me-2">
                            <!-- Replace with your rating logic -->
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span class="ms-1">
                                4.5
                            </span>
                        </div>
                        <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                        <span class="text-success ms-2">In stock</span>
                    </div>

                    <div class="mb-3">
                        <span class="h5">${{ product.price }}</span>
                        {% if product.on_sale %}
                            <span class="text-muted">/per box</span>
                            <span class="text-decoration-line-through">${{ product.sale_price }}</span>
                        {% endif %}
                    </div>

                    <p>
                        {{ product.description }}
                    </p>

                    <div class="row">
                        <!-- Product details like Type, Color, Material, Brand -->
                        <dt class="col-3">Type:</dt>
                        <dd class="col-9">Regular</dd>

                        <dt class="col-3">Color</dt>
                        <dd class="col-9">Brown</dd>

                        <dt class="col-3">Material</dt>
                        <dd class="col-9">Cotton, Jeans</dd>

                        <dt class="col-3">Brand</dt>
                        <dd class="col-9">Reebook</dd>
                    </div>

                    <hr />

                    <div class="row mb-4">
                        <!-- Size and Quantity selection -->
                        <div class="col-md-4 col-6">
                            <label class="mb-2">Size</label>
                            <select class="form-select border border-secondary" style="height: 35px;">
                                <option>Small</option>
                                <option>Medium</option>
                                <option>Large</option>
                            </select>
                        </div>
                        <!-- col.// -->
                        <div class="col-md-4 col-6 mb-3">
                            <label class="mb-2 d-block">Quantity</label>
                            <div class="input-group mb-3" style="width: 170px;">
                                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input type="text" class="form-control text-center border border-secondary" placeholder="14" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-warning shadow-0"> Buy now </a>
                    <a href="{{object.get_add_to_cart}}" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
                    <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i class="me-1 fa fa-heart fa-lg"></i> Save </a>
                </div>
            </main>
        </div>
    </div>
</section>

{% endblock content %}


